.footer {
  background-color: #0e0e0ec2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  .logo {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #e70634;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    font-family: "Monoton", cursive;
    letter-spacing: 1px;
    span {
      font-size: 0.7rem;
      margin-left: 5px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
  .copyright {
    color: #4d4d4d;
    font-size: 0.9rem;
  }
}

@media (max-width: 824px) {
  .footer {
    .logo {
      font-size: 1.3rem;
    }
  }

  .footer {
    padding: 10px 20px;
    text-align: center;
  }
}

@media (max-width: 530px) {
  .footer {
    .copyright {
      font-size: 0.8rem;
    }
  }
}
