/* import font poppins and monoton */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #080808;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #e70634;
  color: #080808;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: var(--swiper-pagination-color, var(--swiper-theme-color)) !important;
  background-color: #e70634 !important;
}

.active-popup {
  display: flex !important;
}

#nprogress {
  .bar {
    background: #e70634 !important;
    height: 3px !important;
  }
  .peg {
    box-shadow: 0 0 10px #e70634, 0 0 5px #e70634 !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2rem !important;
}
