.movieBanner {
  width: 90%;
  max-width: 1400px;
  margin: 10px auto;
  min-height: 520px;
  padding: 60px 40px 40px 40px;
  position: relative;
  display: flex;
  justify-content: center;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.7);
    background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgba(0, 0, 0, 0.6) 100%);
  }
}

.movieBannerImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.7);
    background: linear-gradient(90deg, rgba(37, 37, 37, 0.2) 0%, rgba(15, 15, 15, 0.3) 100%);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.bannerContainer {
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: relative;
}

.titleContainer {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieTitle {
  margin-bottom: 2rem;
  h1 {
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1px;
  }
  h3 {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.moreAboutMovie {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
  color: #e9e9e9;
  gap: 1rem;
  .rating {
    background-color: #e70634;
    color: #ffffff;
    font-weight: 600;
    padding: 0px 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    i {
      color: #fcbb23;
      font-size: 0.8rem;
    }
  }
}

.language {
  margin-top: 20px;
  span {
    background-color: #dfdfdf0e;
    padding: 5px 10px;
    margin-right: 10px;
    color: #dfdfdf;
    font-size: 0.8rem;
  }
}

.titleBottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .category {
    margin-right: 40px;
    font-size: 0.8rem;
    color: #dadada;
    strong {
      font-size: 1.3rem;
      font-weight: 500;
      color: #ffffff;
    }
    a,
    span {
      color: #e70634;
      font-size: 1rem;
      margin-right: 5px;
      &:not(:last-child)::after {
        content: ", ";
      }
    }
  }
}

.watchBtn {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff09;
  border: 1px solid #ffffff2c;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 1px;
  transition: all ease 0.3s;
  &:hover {
    background-color: #e70634;
    transition: all ease 0.3s;
  }
}

.watchBtnDisabled {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff09;
  border: 1px solid #ffffff2c;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #ccc;
  letter-spacing: 1px;
  transition: all ease 0.3s;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .watchBtn,
  .watchBtnDisabled {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .movieBanner {
    padding: 20px;
  }

  .movieTitle {
    h1 {
      font-size: 1.8rem;
    }
  }

  .titleContainer {
    justify-content: flex-start;
  }

  .moreAboutMovie {
    span {
      margin-top: 10px;
      display: flex;
    }
    .rating {
      margin-bottom: -10px;
    }
  }

  .titleBottom {
    margin-top: 30px;
  }
}
