.credits {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 50px auto;
  strong {
    display: block;
    color: #e70634;
    font-family: "Monoton", cursive;
    font-size: 2rem;
    font-weight: 400;
  }
}

.castContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 2px;
  row-gap: 1rem;
  p {
    line-height: 1.2rem !important;
    &:nth-child(2) {
      color: #ffffff;
      text-align: center;
      line-height: 1rem;
    }
    &:nth-child(3) {
      color: #e70634;
      text-align: center;
      line-height: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .credits {
    width: 90%;
  }

  .castContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .credits {
    strong {
      font-size: 1.5rem;
    }
  }

  .castContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
