.mainSliderBox {
  width: 100%;
  height: 450px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #0e0e0ec2;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.mainSliderImg {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.mainSliderText {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #161616b9 35%, rgba(73, 73, 73, 0.23) 64%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

.quality {
  background-color: #e70634;
  color: #080808;
  font-weight: 600;
  padding: 0px 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.movieName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
  }
  strong,
  a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    color: #dfdfdf;
    letter-spacing: 0.5px;
  }
}

.categoryRating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.category {
  color: #969696;
  font-size: 0.8rem;
  font-weight: 500;
  a {
    color: #e70634;
    margin: 0px 3px;
  }
}

.rating {
  font-size: 0.8rem;
  color: #ffffff;
  letter-spacing: 1px;
  img {
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;
  }
}
