.progress {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  z-index: 105;
}

.progressValue {
  display: block;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  background-color: #1c1f25;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  i {
    color: #e70634;
  }
}
