.mainSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1170px;
  width: 100%;
}

@media (max-width: 1200px) {
  .mainSlider {
    width: 90%;
  }
}
